@media (max-width: 1300px) {}

@media (max-width: 992px) {
  .header-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 320px;
    min-width: 100%;
    height: 100vh;
    z-index: 100;
    padding: 80px 15px;
    background: var(--color-blue-dark);
    overflow-y: auto;
    visibility: hidden;
    transform: translateX(-120%);
    transition: visibility 0.3s ease-in-out,
      transform 0.3s ease-in-out;
  }

  .header-nav .nav__list {
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
  }

  .header-nav .nav__item:not(:last-child) {
    /* margin-bottom: 56px; */
  }

  .header-nav--active,
  .nav__link--active {
    visibility: visible;
    transform: none;
  }
.burger {
  /* top: 50px; */

}
  .burger--active .burger__line:nth-child(2) {
    opacity: 0;
  }

  .burger--active .burger__line:first-child {
    top: 50%;
    z-index: 1000;
    transform: rotate(45deg);
    transform-origin: center;
    transition: transform 0.3s ease-in-out,
      top 0.3s ease-in-out, left 0.3s ease-in-out;
  }

  .burger--active .burger__line:last-child {
    width: 100%;
    z-index: 1000;
    bottom: auto;
    transform: rotate(-45deg);
    transform-origin: center;
    transition: transform 0.3s ease-in-out,
      top 0.3s ease-in-out, left 0.3s ease-in-out;
  }

  .burger__line {
    transition: transform 0.3s ease-in-out,
      top 0.3s ease-in-out, left 0.3s ease-in-out;
  }

  .stop-scroll {
    overflow: hidden;
  }

  .burger {
    display: block;
    position: relative;
    width: 20px;
    height: 20px;
    right: 5px;
    color: var(--color-white);
  }

  .burger__line {
    position: absolute;
    right: 0;
    height: 2px;
    background-color: currentColor;
  }

  .burger__line:first-child {
    width: 100%;
    top: 2px;
  }

  .burger__line:nth-child(2) {
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
  }

  .burger__line:last-child {
    width: 100%;
    bottom: 2px;
  }

}

@media (max-width: 576px) {
  .container {
  
  }

  .header-content {
    
  }

  
}